<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] |%highlight(%-5level)| %logger{36} - %msg%n</pattern>

            <!-- Apply colors based on log level -->
            <filters>
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>ERROR</level>
                </filter>
            </filters>
        </layout>
    </appender>

    <logger name="com.wittano.komputer.tests" level="DEBUG"/>

    <if condition='isDefined("DEBUG_MODE")'>
        <then>
            <root level="DEBUG">
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>

</configuration>